extends layout

block content
    h1 Lista de Pedidos

    table(border='1')
        tr
            th ID
            th Fecha
            th Productos
            th Cantidad
            th Accion

        each pedido in pedidos
            tr
                td #{pedido.id}
                td #{pedido.fecha}
                td 
                    each producto in pedido.productos
                        span #{producto.id}
                        br
                td 
                    each producto in pedido.productos
                        span #{producto.cantidad}
                        br
                td  
                    a(href=`/pedidos/editar/${pedido.id}`)
                    button Editar
                    button(onclick=`eliminarPedido(${pedido.id})`) Eliminar

    br
    a(href='/pedidos/nuevo') Crear nuevo pedido

    script.
        async function eliminarPedido(id) {
        const confirmacion = confirm('¿Eliminar pedido?');
        if (confirmacion) {
            try {
            const response = await fetch(`/pedidos/${id}`, { method: 'DELETE' });
            if (response.ok) {
                window.location.reload();
            } else {
                alert('Error al eliminar');
            }
            } catch (error) {
            console.error(error);
            }
        }
        }
