extends layout

block content
    h1 Lista de Productos

    table(border='1')
        tr
            th ID
            th Nombre
            th Precio
            th Tipo
            th Activo
            th Accion

        each producto in productos
            tr
                td #{producto.id}
                td #{producto.nombre}
                td #{producto.precio}
                td #{producto.tipo}
                td #{producto.activo ? 'Sí' : 'No'}
                td 
                    a(href=`/productos/editarProducto/${producto.id}`)
                    button Editar
                    button(onclick=`eliminarProducto(${producto.id})`) Eliminar

    script.
        async function eliminarProducto(id) {
        const confirmacion = confirm('¿Eliminar producto?');
        if (confirmacion) {
            try {
            const response = await fetch(`/productos/${id}`, { method: 'DELETE' });
            if (response.ok) {
                window.location.reload();
            } else {
                alert('Error al eliminar');
            }
            } catch (error) {
            console.error(error);
            }
        }
        }